.header_top {
  position: relative;
  padding: 0 20px;
  height: 60px;
}
.header_top h1 {
  position: relative;
  padding-left: 31px;
  font-size: 20px;
  font-weight: 900;
}
.header_top h1::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 26px;
  height: 20px;
  background-image: url(/icons/ico_logo.svg);
}
.header_top > a {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -9px;
  font-size: 0;
}
