.user_profile,
.user_profile .top .img_box {
  position: relative;
}
.user_profile .top .profile_img {
  border-radius: 50%;
  overflow: hidden;
}
.user_profile .top .profile_img.blank img {
  visibility: visible;
  opacity: 1;
}
.user_profile .top .dropdown {
  position: absolute;
  bottom: 2px;
  right: -2px;
}
.user_profile .top .dropdown .btn_camera {
  width: 19px;
  height: 19px;
  font-size: 0;
  background-color: var(--gray-btn);
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.user_profile .top .btn_setting {
  position: absolute;
  right: 0;
  top: 0;
}
