.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 430px;
  height: 60px;
  border: 1px solid var(--gray-br);
  margin-left: -1px;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 50;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.08); */
}
.navigation nav {
  position: relative;
  height: 100%;
}
.navigation ul {
  display: flex;
  padding-top: 10px;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.navigation ul li {
  position: relative;
  width: 50%;
  text-align: center;
}
.navigation ul li .svg {
  font-size: 0;
}
.navigation ul li .active::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -6px;
  margin-left: -1.5px;
  width: 3px;
  height: 3px;
  background-color: var(--point-lime-3);
  border-radius: 100%;
  transition: all 0.35s ease-in-out;
}
.navigation ul li .active::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: -6px;
  margin-left: -2.5px;
  width: 5px;
  height: 5px;
  background-color: var(--point-lime-3);
  filter: blur(5px);
  z-index: -1;
}

.navigation ul li .active .svg path {
  fill: var(--point-lime-1);
}
.navigation ul li .active .svg .lime {
  fill: var(--point-lime-3) !important;
}
.navigation ul li em {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  color: #ddd;
}
.navigation ul li .active em {
  color: var(--point-lime-3);
}
.navigation .btn_payment {
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -25px;
  z-index: 5;
}
.navigation .btn_payment a {
  position: relative;
  display: block;
  text-indent: -99999px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: linear-gradient(145deg, #d1f88f 15.18%, #a9f921 84.97%);
}
.navigation .btn_payment a::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: linear-gradient(145deg, #d1f88f 15.18%, #a9f921 84.97%);
  filter: blur(5px);
  z-index: -1;
}
.navigation .btn_payment a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  height: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  background-image: url(/icons/ico_agits_create.svg);
}
