.img_box {
  flex: none;
}
.img {
  border-radius: 100%;
  overflow: hidden;
}
.txt_box {
  width: 100%;
}
.txt_box .rate ul li {
  width: 50%;
}

.txt_box .rate ul li label {
  display: block;
  color: var(--point-yellow-2);
}
.top em {
  display: block;
  font-weight: 700;
  line-height: 1.2;
}
.top p {
  color: #878b8e;
}

.account_info_list em {
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.account_info_list ul {
  margin-top: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.account_info_list ul li {
  border-top: 1px solid var(--gray-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.account_info_list ul li b {
  display: block;
  font-size: 14px;
  font-weight: 500;
}
