/* color style */
.deep {
  background-color: var(--point-yellow-3);
}
.light {
  background-color: var(--point-yellow-1);
  color: var(--point-yellow-2) !important;
}
.lime {
  background-color: var(--point-lime-3);
}

.blue {
  color: var(--blue-1);
}
.blue_bg {
  color: var(--blue-1);
  background-color: #edf2fe;
}

.red {
  color: var(--crimson-2);
}

.gray_t1 {
  color: var(--gray-txt-1);
}
.gray_t2 {
  color: var(--gray-txt-2);
}
.gray_btn {
  color: var(--gray-btn);
}

/* text decoration */
.underline {
  text-decoration: underline;
}

/* radix Radio group */
.radio_group > div {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.radio {
  width: 120px;
  font-size: 0;
}
.radio button {
  height: 20px;
}
.radio [data-state='unchecked']::before {
  background-color: #fff;
  border: 1px solid #d0d1d8;
  box-shadow: none;
}

.radio [data-state='checked']::before {
  background-color: var(--point-yellow-3);
  box-shadow: none;
}

.radio span {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}

/* back_img */
.img img {
  max-width: 100%;
  height: auto;
}
.back_img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.back_img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  visibility: hidden;
  opacity: 0;
}

/* txt_line */
.dpb {
  display: block;
}
.txt_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* form */
.form_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* row */
.row {
  font-size: 0;
}
.row:has(.input) {
  height: 90px;
}
.row > label {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}
.row label.require {
  padding-right: 8px;
}
.row label.require::after {
  content: '*';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: #ea0000;
}
.row p.error {
  margin-top: 5px;
  font-size: 10px;
  font-weight: 500;
  color: #ea0000;
  line-height: 1.2;
}
.row .input {
  position: relative;
}
.row .input.disabled input {
  color: var(--gray-txt-2);
}
.row .input_file input[type='file'] {
  display: none;
}
.row .input_btn button,
.row .input_file label {
  display: block;
  position: absolute;
  right: 9px;
  top: 9px;
  width: 88px;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  background-color: var(--gray-btn);
  font-size: 12px;
  font-weight: 700;
  color: #fff !important;
  text-align: center;
  transition: background-color 0.2s linear;
}
.row .input_btn.disabled button,
.row .input_file.disabled label {
  background-color: #5a647a;
}
.row .input_btn:not(.disabled) button:hover,
.row .input_file:not(.disabled) label:hover {
  background-color: #5a647a;
}
/* error_page */
.error_page {
  height: 100vh;
}
.error_page > div {
  height: 100%;
}
.error_page .img_box {
  width: 500px;
}
.error_page .txt strong {
  display: block;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
}
.error_page .txt p {
  color: var(--gray-txt-2);
}

/* body_scroll_hide */
.scroll_hide {
  overflow-y: hidden !important;
  padding-right: var(--body-scroll-bar-size);
}

/* btm_util */
.btm_util ul li {
  position: relative;
}
.btm_util ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background-color: var(--gray-txt-2);
}
.btm_util ul li:first-of-type::before {
  display: none;
}
.btm_util ul li a,
.btm_util ul li button {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: var(--gray-txt-2);
}

/* popover */
.popover {
  position: relative;
}
.popover > ul {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 5px;
  width: 180px;
  padding: 7px;
  border: 1px solid var(--gray-br);
  border-radius: 5px;
  background-color: #fff;
  z-index: 5;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.popover > ul button,
.popover:not(.header) > ul a {
  display: block;
  width: 100%;
  padding: 4px 8px;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.popover > ul button:hover,
.popover:not(.header) > ul a:hover {
  background-color: #f5f5f5;
}

/* txt_box */
.txt_box .txt_con p {
  color: #aaa;
  line-height: 1.3;
}

/* swiper */
.swiper {
  width: 100%;
  overflow: visible !important;
}
.swiper .swiper-slide {
  width: 320px;
}

/* info_list */
.info_list ul li {
  display: flex;
  line-height: 1.2;
}
.info_list ul li em {
  display: block;
  width: 75px;
  flex: none;
  font-size: 14px;
  font-weight: 700;
}

/* interest_list */
.interest_list ul li input[type='checkbox'] {
  display: none;
}
.interest_list ul li label {
  position: relative;
  display: block;
  padding: 4px 15px;
  border-radius: 20px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  transition: color 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.interest_list ul li input[type='checkbox']:checked + label {
  background-color: var(--point-yellow-3);
  border-color: var(--point-yellow-3);
  animation: pop 0.25s cubic-bezier(0.25, 1.3, 0.5, 1);
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/* title_btn */
.title_btn {
  position: relative;
}
.title_btn > div:first-of-type {
  padding-right: 100px;
}
.title_btn .right_top {
  position: absolute;
  right: 0;
  top: -3px;
}

@media screen and (max-width: 860px) {
  .error_page > div {
    display: block;
  }
  .error_page .img_box {
    position: absolute;
    left: 20px;
    bottom: 40px;
    opacity: 40%;
    z-index: -1;
  }
}

@media screen and (max-width: 480px) {
  .scroll_hide {
    padding-right: 0;
  }

  .error_page .img_box {
    left: auto;
    right: -20px;
    bottom: 20px;
  }
}
